<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Pessoas</h1>
      </div>
      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome"
        [(ngModel)]="filtro.nome"/>
      </div>
      <div class="p-col-12">
        <p-button type="submit" label="Pesquisar"></p-button>
      </div>
    </div>
  </form>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="pessoas" [paginator]="true" [rows]="5" [responsive]="true" emptyMessage="Nenhuma pessoa encontrada"
      [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
       (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr style="text-align: center;">
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"> </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cidade }}</td>
            <td class="col-data-content">{{ pessoa.estado }}</td>
            <td class="col-data-content">
              <a href="javascript:;" (click)="mudarStatus(pessoa)" class="link-status" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
                    tooltipPosition="top">
                  {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
              </a>
            </td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin-right: 5px;"></a>
              <button pButton pTooltip="Excluir" tooltipPosition="top" icon="pi pi-trash"
              (click)="confirmarExclusao(pessoa)"></button>
          </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  </div>
</div>

