<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="p-col-12 p-fluid">
      <label>Descrição</label>
      <input type="text" pInputText />
    </div>
    <div class="p-col-12">
      <label style="display: block;">Vencimento</label>
      <input type="text" pInputText style="width: 95px;" />

      <label style="margin-left: 5px; margin-right: 5px;">até</label>
      <input type="text" pInputText style="width: 95px;" />
    </div>

    <div class="p-col-12">
      <p-button type="submit" label="Pesquisar"></p-button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>
    <div class="p-col-12">
      <p-button type="button" label="Cadastrar Lançamento"></p-button>
    </div>
  </div>
</div>


